.popUp__content.popUp__content-top.popUp__content-top-editAlbum
    .album_header_main
        .header_photo.button_shadow.album_photo
            img.header_image(src="assets/img/default_avatar.jpg")
        .header_name.album_name
            h6#userName Крошко Николай Юриевич
    .bio.bio-top
        .bio__item.desc__item.desc__item-top
            input(class='input', type='text', name='albumName', placeholder='Название альбома')
        .bio__item.desc__item.desc__item-top
            textarea(class='textarea textarea-editAlbum', rows='7', name='albumDesc', placeholder='Описание альбома')
    .photo_load.photo_load-center.photo_load-bg__edit
        .bg__edit__icon
            i.fa.fa-camera
        .bg-edit__label Изменить фон

