form.popUp__content
    .photo__add
        .photo__add__name.desc__item
            label.popUp__content__label Название
                span.popUp__content__label__value Как я провел лето
        .photo__add__form.desc__item
            .photo__add__form-empty
                .photo__add__form-empty__camera
                    i.fa.fa-camera
                button.button.button-border Выберите файл
            .photo__add__form-filled
                ul.photo__add__form__list
                    li.photo__add__form__item
                        img(src='./assets/img/DBAPjq6ifp4.jpg' alt='')
                        .photo__add__form__item__close
                            i.fa.fa-close



