form.popUp__content(id = 'form_'+`${popUpType}`)
    .photo__edit
        .photo__edit__name.desc__item
            label.popUp__content__label Название
            input(class='input', type='text', name='photoName', placeholder='Название фотографии')
        .photo__edit__desc.desc__item
            label.popUp__content__label Описание
            textarea(class='textarea', rows='5', name='photoDesc', placeholder='Добавьте несколько слов о Вашей фотографии. Используйте #хэштеги')


