form.popUp__content(id = 'form_'+`${popUpType}`)
    .album__add
        .album__add__name
            label.popUp__content__label Название
            input(class='input', type='text', name='albumName', placeholder='Название альбома')
        .album__add__desc
            label.popUp__content__label Описание
            textarea(class='textarea', rows='5', name='albumDesc', placeholder='Добавьте несколько слов о Вашем альбоме')
    .photo_load.photo_load-cover
        .photo_circle.photo_circle-cover
            i.fa.fa-camera
        .photo_load__action
            button.button.button-border Загрузить обложку

