.popUp__content.popUp__content-top.popUp__content-top-editHeader
    .photo_load.photo_load-ava.photo_load-ava-top.photo_load-center
        .photo_circle.photo_circle-ava.photo_circle-top
            i.fa.fa-camera
    .bio
        .bio__item.desc__item.desc__item-top
            input(class='input', type='text', name='fullName', placeholder='Имя Фамилия')
        .bio__item.desc__item.desc__item-top
            textarea(class='textarea textarea-editHeader', rows='2', name='message', placeholder='О себе')
    .social_edit.social_edit-top
        include ../common/_headerSocials
        //.social_edit__list.social_edit__list-top
        //    +social_edit__item-top('vk.com', 'vk')
        //    +social_edit__item-top('Facebook.com', 'facebook')
        //    +social_edit__item-top('Twitter.com', 'twitter')
        //    +social_edit__item-top('plus.google.com', 'google-plus')
        //    +social_edit__item-top('test@test.com', 'envelope')
    .photo_load.photo_load-center.photo_load-bg__edit.desc__item-top
        .bg__edit__icon
            i.fa.fa-camera
        .bg-edit__label Изменить фон

