@import 'common/fonts.scss';
@import 'common/variables.scss';
*{
  box-sizing:inherit;
}
html{
  min-width: 320px;
  font: 14px/1.5 proxima_light;
  color: $darkTextColor;
  box-sizing: border-box;
}
h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
h3{
  font: 30px/1.333333 panton;
}
h4{
  font: 21px/1 panton;
}
p{
  margin: $indentMultiplier 0;
}
ul,ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
svg{
  width: 100%;
  height: 100%;
}
button{
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}
@import 'mainPage.scss';
@import 'popUp';
