@media (min-width: 768px) {
  #pictupeContainer {
    display: flex !important;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: center;
  }
  .new-photo {
    width: 30% !important;
    min-height: 200px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px !important;
  }
  .new-photo__img__loupe {
    width: 100%;
  }

}
@import 'modules/_mainHeader';
@import 'modules/_mainButtons';
.section{
  padding: $indentMultiplier;
  text-align: center;
  padding-bottom:  $indentMultiplier*3;
  &_title{
    margin: $indentMultiplier*2 0;
  }
  &_titleContainer{
    position: relative;
  }
}
.alboms{
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
}
.new-album {
  width: 30% !important;
  min-height: 200px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 10px !important;
}


@import 'modules/_mainFooter';