@import 'common/fonts';
@import 'common/variables';
@import 'main/new_in_world';
@import 'searchPage';
*{
  box-sizing:inherit;
}
html{
  min-width: 320px;
  font: 14px/1.5 proxima_light;
  color: $darkTextColor;
  box-sizing: border-box;
}
h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
h3{
  font: 30px/1.333333 panton;
}
h4{
  font: 21px/1 panton;
}
h5{
  font: 18px/1.333333 proxima_bold;
}
h6{
  font: 16px/1.3125 panton;
}
p{
  margin: $indentMultiplier 0;
}
ul,ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
svg{
  width: 100%;
  height: 100%;
}
button{
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}
html,body{
  min-height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section{
  flex: 1;
}

.container_adaptive{
  width: 98%;
  margin: 0 auto;
  position: relative;
}
.container_adaptive-flex{
  display: flex;
  justify-content: center;
}


@import 'mainPage';
@import 'albumPage';
@import 'popUp';
@import 'common/slider';
@import 'main/new_in_world.scss';
@import 'main/my_album.scss';