.header_socials
  ul.socials_list
    li.socials_item
      a.socials_link#userVK(href="#" target="_blank")
        svg
          use.socials_svg(xlink:href="assets/img/sprite.svg#soc_vk")
    li.socials_item
      a.socials_link#userFB(href="#" target="_blank")
        svg
          use.socials_svg(xlink:href="assets/img/sprite.svg#soc_fb")
    li.socials_item
      a.socials_link#userTWIT(href="#" target="_blank")
        svg
          use.socials_svg(xlink:href="assets/img/sprite.svg#soc_twitter")
    li.socials_item
      a.socials_link#userGO(href="#" target="_blank")
        svg
          use.socials_svg(xlink:href="assets/img/sprite.svg#social_google")
    li.socials_item
      a.socials_link#userMAIL(href="#" target="_blank")
        svg
          use.socials_svg(xlink:href="assets/img/sprite.svg#soc_email")
