.slider
    .slider__close-window
    .slider__slides
        img.slides__slide-foto(src='assets/img/slider/slide1.jpg')
    .slider__arrows
    .slider__slide-info
        .slide-info__user
            .user__foto
                img(src='assets/img/slider/user-foto.png', alt='')
            .user__name Анна Богданова
        .slide__likes
            a.likes__heart-img(href='#')
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='21px', height='19px', viewbox='53 55.571 22 16.858', enable-background='new 54 55.571 20 16.858', xml:space='preserve')
                    path(fill='#ee4634',stroke='white', stroke-width="3px" d='M74,60.858c0-2.92-2.367-5.287-5.287-5.287c-2.06,0-3.841,1.181-4.713,2.901\
                      c-0.873-1.72-2.653-2.901-4.713-2.901c-2.919,0-5.287,2.367-5.287,5.287c0,5.522,8.87,11.571,10,11.571\
                      C65.131,72.43,74,66.407,74,60.858z')
            .likes__quantity  0
        .slide__description
            h3.description__header Путешествие на речном трамвайчике
            p.description__main
                | Мы отправились в
                a(href='#') #путешествие
                | дня назад, но уже сейчас такое ощущение, что мы посмотрели целый новый мир. Далее будет ещё одно описательное предложение. Возможно оно также будет с
                a(href='#') #тегами.
.comments
    .comments__head
        .comments-headname Комментарии
        .comments-arrow
            i.fa.fa-angle-up(aria-hidden='true')
    .add-comment__container
        .add-comment__current-commentator  Антон Черепов
        .add-comment__write-comment
            input( class='add-comment' type='text' placeholder='Добавить комментарий' )
            button.add-comment__button  Добавить
    .comments-container
        .user-comment
            .user-comment__name Виталий Виноградов
            .user-comment__text
                | Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
        .user-comment
            .user-comment__name Татьяна Литвинова
            .user-comment__text
                | Эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением.
script(src='https://use.fontawesome.com/5777a8e8fa.js')