.slider_container
    .slider
        .slider__close-window
            svg.cross
                use(xlink:href='/assets/img/sprite.svg#close')

        .slider__slides
            img.slides__slide-foto(src='assets/img/slider/slide1.jpg')
            svg.arrow.arrow_left
                use(xlink:href='/assets/img/sprite.svg#arrow_left')
            svg.arrow.arrow_right
                use(xlink:href='/assets/img/sprite.svg#arrow_right')

        .slider__slide-info
            .slider__info_top
                .slide-info__user
                    .user__foto
                        img(src='assets/img/slider/user-foto.png', alt='')
                    .user__name Анна Богданова
                a.slide__likes(href='#')
                    svg.heart
                        use(xlink:href='/assets/img/sprite.svg#heart')
                    .likes__quantity  0
            .slide__description
                h3.description__header Путешествие на речном трамвайчике
                p.description__main
                    | Мы отправились в
                    a(href='#') #путешествие
                    | дня назад, но уже сейчас такое ощущение, что мы посмотрели целый новый мир. Далее будет ещё одно описательное предложение. Возможно оно также будет с
                    a(href='#') #тегами.
        .comments
            .comments__head
                .comments-headname Комментарии
                a.comments-arrow(href="#")
                    i.fa.fa-angle-up(aria-hidden='true')
            .add-comment__container
                .add-comment__current-commentator  Антон Черепов
                .add-comment__write-comment
                    input( class='add-comment' type='text' placeholder='Добавить комментарий' )
                    button.add-comment__button  Добавить
            .comments-container
                .user-comment
                    .user-comment__name Виталий Виноградов
                    .user-comment__text
                        | Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
                .user-comment
                    .user-comment__name Татьяна Литвинова
                    .user-comment__text
                        | Эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением.
script(src='https://use.fontawesome.com/5777a8e8fa.js')