-var currentUser='Крокодил Гена'
-var url='/assets/img/slider/slide1.jpg';
.slider_container
    .slider
        .slider__close-window
            svg.cross
                use(xlink:href='/assets/img/sprite.svg#close')

        .slider__slides
            svg.arrow.arrow_left
                use(xlink:href='/assets/img/sprite.svg#arrow_left')
            svg.arrow.arrow_right
                use(xlink:href='/assets/img/sprite.svg#arrow_right')
            .slider__inner

        .slider__slide-info
            .slider__info_top
                .slide-info__user
                    .user__foto
                    //Подгрузка с сервера
                    .user__name
                    //подгрузка с сервера
                a.slide__likes(href='#')
                    svg.heart
                        use(xlink:href='/assets/img/sprite.svg#heart')
                    .likes__quantity
                     //Подгрузка с сервера
            .slide__description
                h3.description__header
                    //Подгрузка с сервера
                .description__main
                    //Подгрузка с сервера
        .comments
            .comments__head
                .comments-headname Комментарии
                a.comments-arrow(href="#")
                    i.fa.fa-angle-up(aria-hidden='true')
            .add-comment__container
                form.add-comment__write-comment(action="/assets/php/comment.php" method="POST")
                    .add-comment__current-commentator  #{currentUser}
                    input.hidden.imgUrl(type="text" value=url name="url")
                    input.hidden.userID(type="text" value=currentUser name='name')
                    textarea.add-comment(placeholder='Добавить комментарий' name='comment' )
                    input.add-comment__button(type='submit' value='Добавить')
            .comments-container
                //Подгрузка с сервера



script(src='https://use.fontawesome.com/5777a8e8fa.js')