.slider_container{
  background: rgba(0,0,0,.8);
  padding: 20px 0;
  min-height:100vh ;
}

.slider{
  width: 70%;
  margin: 0 auto;
  }

.slider__slides{
  position: relative;
  padding-left: 0;
  margin: 0;
  white-space: nowrap;
}

.arrow{
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: #fff;
  opacity: .7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

}

.arrow_left{
  left:-40px;
}

.arrow_right{
  right: -40px;
}

.slides__slide-foto {
  max-width: 100%;
  display: block;
  position: relative;
  left: 0;
}

.slider__slide-info {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
}

.slider__info_top{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.slide-info__user {
  display: flex;
  align-content: flex-start;
  align-items: center;
  .user__foto {

    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  .user__name {
    font-family: panton;
    font-size: 14px;
  }

}
.slide__likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
  flex-basis: 25%;
  background: #ee4634;
  border-radius: 33px;
  height: 40px;
  text-decoration: none;

  svg{
    width: 20px;
    height: 20px;
    fill: none;
    stroke-width: 2px;
    stroke: #fff;
  }

  &:hover{
    box-shadow: 0 0 5px #ee4634;
    svg{
      fill:#fff;
    }
  }

  .likes__heart-img {
    height: 50%;
    width: 50%;

  }
  .likes__quantity {
    color: white;
    font-family: panton,sans-serif;
    font-size: 16px;
  }
}

.slide__description {

  .description__header {
    line-height: 25px;
    font-family: proxima_bold, sans-serif;
    font-size: 18px;
  }
  .description__main {
    font-family: proxima_light, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    a {
      color: #20b6ed;
    }
  }
}

.comments {
  padding: 20px;
  background: #f6f6f6;
  position: relative;
  .comments__head {
    font-family: proxima_bold, sans-serif;
    font-size: 14px;
    position: relative;
    .comments-headname {
      float: left;
    }
    .comments-arrow {
      top: 50%;
      margin-top: -17px;
      right: 60%;
      margin-right: -10px;
      position: absolute;
      float: left;
      color: #cfcfcf;
      font-size: 30px;
    }
  }
  .comments__head:after {
    content: "";
    display: table;
    clear: both;
  }
}

.add-comment__container {
  margin-top: 10px;
}
.add-comment__current-commentator {
  font-family: panton, sans-serif;
  font-size: 14px;
  padding: 10px 0 10px 0;
}
.add-comment__write-comment {
  width: 90%;
}

.add-comment {
  outline: none;
  padding-left: 20px;
  font-family: proxima_light, sans-serif;
  font-size:14px ;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #d8d6d6;
}
.add-comment__button {
  font-family: panton,sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #20b6ed;
  background: #f6f6f6;
  color: #20b6ed;
  margin-top: 10px;
  cursor: pointer;

  &:hover{
    background: #20b6ed;
    color:#fff;

  }
}

.user-comment:before {
  content: '';
  display: block;
  background: #d8d6d6;
  height: 1px;
  margin: 20px 0 20px 0;
}
.user-comment__name {
  line-height: 28px;
  font-family: panton, sans-serif;
  font-size: 14px;
}
.user-comment__text {
  font-family: proxima_light, sans-serif;
  font-size: 16px;
  color: #323232;
}

.slider__close-window{
  text-align: right;
  padding-bottom: 10px;

  svg{
    width: 20px;
    height: 20px;
    fill: #fff;
    opacity: .7;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}

