$darkTextColor: #323232;
$hoverColor: #28bbf0;
$lightTextColor: #fff;
$indentMultiplier: 10px;
$transformDuration: 500ms;
$color-black : #000000;
$color-blue: #28bbf0;
$color-grey: #f1f1f1;
$color-red: #ee4634;
$color-darkgrey: #a0a09f;
$color-lightgrey: rgb(249, 249, 249);
$color-text: #323232;
$color-white: #fff;