.headerButton{
  position: absolute;
  padding: $indentMultiplier;
  background-color: #fff;
  border-radius: $indentMultiplier*2;
  top: 0;
  transition-duration: $transformDuration;
  font-size: 0;
  overflow: hidden;
  width: 40px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 30;

  & svg{
    width: $indentMultiplier*2;
    height: $indentMultiplier*2;
    vertical-align: middle;
    display: inline-block;
  }
  &_text{
    font-size: 0.75rem;
    font-family: panton;
    vertical-align: middle;
    display: inline-block;
    margin-left: $indentMultiplier;
    color: $lightTextColor;
  }
  &:hover{
    background-color: $hoverColor;
  }
  @media screen and (min-width: 992px) {
    &:hover{
      width: auto;
    }
  }
  &:hover &_svg{
    fill: #fff;
  }
  &_left{
    left: 0;
  }
  &_right{
    right: 0;
  }
  &_top{
    top:-10px;
  }
  &_svg{
    fill:#a0a09f;
  }
}
.staticButton{
  color: $hoverColor;
  font-family: panton;
  border: 1px solid $hoverColor;
  border-radius: $indentMultiplier*2;
  padding: $indentMultiplier $indentMultiplier*2;
  &:hover{
    color: $lightTextColor;
    background-color: $hoverColor;
  }
}
.editButton{
  width: $indentMultiplier*2;
  height: $indentMultiplier*2;
  display: inline-block;
  float: left;
  cursor: pointer;
  &_svg{
    fill: rgba($darkTextColor, .2);
  }
  &:hover &_svg{
    fill: rgba($darkTextColor, .5);
  }
}