.headerButton{
  position: absolute;
  padding: $indentMultiplier;
  background-color: #fff;
  border-radius: $indentMultiplier*2;
  top: 0;
  transition-duration: $transformDuration;
  font-size: 0;
  overflow: hidden;
  width: 40px;
  white-space: nowrap;
  cursor: pointer;
  & svg{
    width: $indentMultiplier*2;
    height: $indentMultiplier*2;
  }
  &_text{
    font-size: 1rem;
    font-family: panton;
    vertical-align: top;
    display: inline-block;
    margin-left: $indentMultiplier;
    color: $lightTextColor;
  }
  &:hover{
    background-color: $hoverColor;
    width: inherit;
  }
  &:hover &_svg{
    fill: #fff;
  }
  &_left{
    left: 0;
  }
  &_right{
    right: 0;
  }
  &_svg{
    fill:#a0a09f;
  }
}
.staticButton{
  color: $hoverColor;
  font-family: panton;
  border: 1px solid $hoverColor;
  border-radius: $indentMultiplier*2;
  padding: $indentMultiplier $indentMultiplier*2;
  &:hover{
    color: $lightTextColor;
    background-color: $hoverColor;
  }
}