.headerContainer,.footer{
  background: url(../img/no_photo.jpg) no-repeat left;
  background-size: cover;
}
.button_shadow{
  box-shadow: 0px 1px 2px 0px rgba(#000,0.22);}
.header{
  text-align: center;
  background-color: rgba(#323232, .5);
  padding: $indentMultiplier*2 $indentMultiplier;
  color: $lightTextColor;
  &_buttons{
    position: relative;
  }

  &_photo{
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    width: 56px;
    height: 56px;
    position: relative;
    overflow: hidden;
  }
  &_image{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
  }
}
.header_name{
  margin: $indentMultiplier 0;
}
.socials{
  &_item{
    width: $indentMultiplier*2;
    height: $indentMultiplier*2;
    display: inline-block;
    margin: $indentMultiplier/2;
  }
  &_svg{
    fill: rgba(#fdfdfd, .8);
  }
  &_link:hover &_svg{
    fill: #fdfdfd;
  } 
}
#search{
  position: relative;
}
.search{
  padding: $indentMultiplier;
  background-color: rgba(#f1f1f1, .9);
  &_term{
    width: 100%;
    padding: $indentMultiplier $indentMultiplier*2 $indentMultiplier $indentMultiplier*4.5;
    border: none;
    border-radius: $indentMultiplier*2;
    outline: none;
  }
  &_icon{
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: $indentMultiplier*2;
  }
  &_svg{
    fill: $darkTextColor;
  }
}