.headerContainer.headerContainer_albom
  header.header
    .albom_header_main
      .header_photo.button_shadow.albom_photo
        img.header_image(src="assets/img/default_avatar.jpg")
      .header_name.albom_name
        h6#userName Крошко Николай Юриевич
    .header_albomTitle
      h5#albomTitle.albom_title Лесные прогулки
    .header_about
      p#albomDescription Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюбленным в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.
  .albomCount
    .albomCount_item
      svg.albomCount_svg.albomCount_photo
        use(xlink:href="assets/img/sprite.svg#cam")
      span.albomCount_text#photosCount 2
    .albomCount_item
      svg.albomCount_svg.albomCount_like
        use(xlink:href="assets/img/sprite.svg#like")
      span.albomCount_text#likesCount 23
    .albomCount_item
      svg.albomCount_svg.albomCount_comment
        use(xlink:href="assets/img/sprite.svg#comments")
      span.albomCount_text#commentsCount 332342
