.headerContainer.headerContainer_album
  header.header
    .container_adaptive
      .album_header_main
        a#userPageLink
          .album-header_photo.button_shadow.album_photo
            img.header_image#avatar(src="assets/img/default_avatar.jpg")
        .header_name.album_name
          h6#userName.user-name
        a(href="main.html")
          span.headerButton.headerButton_right.button_shadow#backToMain
            svg
              use.headerButton_svg(xlink:href="assets/img/sprite.svg#home")
            span.headerButton_text На главную
      .header_albumTitle
        h5#albumTitle.album_title
      .header_about
        p#albumDescription
  .albumCount
    .container_adaptive.container_adaptive-flex
      .albumCount_item
        svg.albumCount_svg.albumCount_photo
          use(xlink:href="assets/img/sprite.svg#cam")
        span.albumCount_text#photosCount
      .albumCount_item
        svg.albumCount_svg.albumCount_like
          use(xlink:href="assets/img/sprite.svg#like")
        span.albumCount_text#likesCount
      .albumCount_item
        svg.albumCount_svg.albumCount_comment
          use(xlink:href="assets/img/sprite.svg#comments")
        span.albumCount_text#commentsCount