footer.footer
  .footerContainer
    .container_adaptive.footerContainer-flex
      .footer_button
        button(type='button').topArrow
          svg
            use.topArrow_svg(xlink:href="assets/img/sprite.svg#top")
      .footer_description.
        Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
      include ../common/_copyright