.headerContainer
  header.header
    .container_adaptive
      .header_buttons
        a(href='index.html')
          span.headerButton.headerButton_left.button_shadow#quit
            svg
              use.headerButton_svg(xlink:href="assets/img/sprite.svg#off")
            span.headerButton_text Выйти
        .header_photo.button_shadow
          img.header_image#userPhoto(src="assets/img/default_avatar.jpg")
        span.headerButton.headerButton_right.button_shadow#edit
          svg
            use.headerButton_svg(xlink:href="assets/img/sprite.svg#edit")
          span.headerButton_text Редактировать
      .header_personal-info
          .header_name
            h4#userName
          .header_about
            p#userAbout
          include ../common/_headerSocials
  .search
    .container_adaptive
      form.search_form#search(action='#')
        span.search_icon
          svg
            use.search_svg(xlink:href="assets/img/sprite.svg#search")
        input.search_term(placeholder="Исследовать мир")
