extends ../_template

block vars
  - var title = 'album'

block content
  .content
    include ../modules/_albumHeader
    section.album_content.section
      span.headerButton.headerButton_right.button_shadow#addPhoto
        svg
          use.headerButton_svg(xlink:href="assets/img/sprite.svg#add")
        span.headerButton_text Добавить
  include ../modules/_mainFooter