extends ../_template

block vars
  - var title = 'Album'

block content
  include ../_mixins/_popUp-mixins
  include ../modules/_albomHeader
  //- .content
  //-   section.section.worldNew
  //-     .section_titleContainer
  //-       h3.section_title Новое в мире
  //-       button.showMore.staticButton(type="button") Показать еще
  //-   section.section.alboms
  //-     .section_titleContainer
  //-       h3.section_title Мои альбомы
  //-       span.button.button_right.button_shadow#quit
  //-         svg
  //-           use.button_svg(xlink:href="assets/img/sprite.svg#add")
  //-         span.button_text Добавить
  include ../modules/_mainFooterb
  //include ../_includes/popUp__addAlbum
