extends ../_template

block headVars
	- var title = 'Autorization'

block content
	include ../_mixins/_popUp-mixins
	input#pageID(type='hidden' name='pageID' value='auth')
	.authorize 
		.content-conteiner
			.authorize__title  Добро пожаловать
			.authorize__text.
				Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
			.flip-container
				.flipper
					.authorizhe-form
						form.authorizhe-form__conteiner(action="")
							p.input-login
								input.authorizhe-form__style.authorizhe-form__style_login(type="text" name="login" placeholder="Электронная почта" )
								i.fa.fa-envelope.input-login__font-imge(aria-hidden='true')
							p.input-login
								input.authorizhe-form__style.authorizhe-form__style_password(type="password" name="password" placeholder="Пароль" )
								i.fa.fa-lock.input-login__font-imge.input-login__font-imge_lock(aria-hidden='true')
							.password-question 
								a.password-question__item(href="") Забыли пароль?
							.authorize-btn
								input.authorize-btn__item.authorize-btn__item_submit#authorize(type="button" name="submit" value="Войти")
							.password-question Нет аккаунта? 
								a.password-question__item.password-question__item_registration(href="#!") Зарегистрироваться
					.rigestration-form
						form.authorizhe-form__conteiner(action="")
							p.input-login
								input.authorizhe-form__style.authorizhe-form__style_login(type="text" name="form_name" placeholder="Имя" )
								i.fa.fa-user.input-login__font-imge(aria-hidden='true')
							p.input-login
								input.authorizhe-form__style.authorizhe-form__style_login(type="text" name="form_name" placeholder="Электронная почта" )
								i.fa.fa-envelope.input-login__font-imge(aria-hidden='true')
							p.input-login
								input.authorizhe-form__style.authorizhe-form__style_password(type="password" name="form_password" placeholder="Пароль" )
								i.fa.fa-lock.input-login__font-imge.input-login__font-imge_lock(aria-hidden='true')
							.password-question Ваши данные остаются строго конфедециальны
							.authorize-btn
								input.authorize-btn__item.authorize-btn__item_registration(type="submit" name="submit" value="Создать аккаунт")
							.password-question Уже зарегистрированы?
								a.password-question__item.password-question__item_entrance(href="#!") Войти
			.authorize__footer.
				2016 Создано командой профессионалов
				на продвинутом курсе по веб-разработке от LoftSchool