extends ../_template

block vars
  - var title = 'Main'

block content
  .headerContainer
    header.header header
    .search
      form.search_form(action='#')
        span.search_icon
        input.search_term#search(placeholder="Исследовать мир")

  .content content
  include ../modules/_mainFooter