extends ../_template

block vars
	- var title = 'Main'

block content
  .content
    include ../modules/_mainHeader
    section.section.worldNew
      .section_titleContainer
        h3.section_title Новое в мире
        button.showMore.staticButton(type="button") Показать еще
      include ../main/new_in_world
    section.section.alboms
      .section_titleContainer
        h3.section_title Мои альбомы
        span.headerButton.headerButton_right.button_shadow#quit
          svg
            use.headerButton_svg(xlink:href="assets/img/sprite.svg#add")
          span.headerButton_text Добавить
      include ../main/my_album
  include ../modules/_mainFooter