extends ../_template

block vars
	- var title = 'Main'

block content
	.headerContainer
		header.header header
		.search search
		.content content
		include ../main/new_in_world
		include ../main/my_album
	footer.footer footer