extends ../_template

block headVars
  - var title = 'Main'
block content
  input#pageID(type='hidden' name='pageID' value='main')
  .content
    include ../modules/_mainHeader
    section.section.worldNew
      .container_adaptive
        .section_titleContainer
          h3.section_title Новое в мире 
      #pictupeContainer
      button.showMore.staticButton#showMore(type="button") Показать еще
    section.section.alboms#albumsContainer
      .container_adaptive
        .section_titleContainer
          h3.section_title Мои альбомы
          span.headerButton.headerButton_right.button_shadow#addAlbum
            svg
              use.headerButton_svg(xlink:href="assets/img/sprite.svg#add")
            span.headerButton_text Добавить
  include ../modules/_mainFooter
  //  popUps
  include ../_mixins/_popUp-mixins
  include ../_includes/popUp__addAlbum
  include ../_includes/popUp__editHeader
  include ../_includes/popUp__editAlbum
  include ../_includes/popUp__editUser


  //раскомментировать после JS on click
  include ../common/_slider
