include ../common/_head
.container(style="width:100vw; height: 100vh; background-color: grey;")
  svg
    use(xlink:href="assets/img/sprite.svg#edit")
  svg
    use(xlink:href="assets/img/sprite.svg#off")
  svg
    use(xlink:href="assets/img/sprite.svg#soc_email")
  svg
    use(xlink:href="assets/img/sprite.svg#soc_fb")
  svg
    use(xlink:href="assets/img/sprite.svg#soc_twitter")
  svg
    use(xlink:href="assets/img/sprite.svg#soc_vk")
  svg
    use(xlink:href="assets/img/sprite.svg#social_google")
  svg
    use(xlink:href="assets/img/sprite.svg#top")