extends ../_template

block headVars
  - var title = 'User'

block content
  input#pageID(type='hidden' name='pageID' value='user')
  .content
    include ../modules/_userHeader
    section.section.alboms
      .container_adaptive
        .section_titleContainer
          h3.section_title Альбомы
        #albumsContainer


  include ../modules/_mainFooter