extends ../_template

block vars
  - var title = 'User'

block content
  .content
    include ../modules/_userHeader
    section.section.alboms
      .container_adaptive
        .section_titleContainer
          h3.section_title Альбомы
  include ../modules/_mainFooter