.album-block
	.album-block__title Мои альбомы
			i.album-block__title__edit(class='fa fa-plus' aria-hidden='true')
	.new-album
		.new-album__img
			img.new-album__img__item(src="/assets/img/main_album.png", alt="new photo")
		.new-album__detail.clearfix
			.new-album__name
				i.new-album__detail__name__img(class='fa fa-pencil' aria-hidden='true')
				span.new-album__detail__name__text Поход в горы