.new-album
  .new-album__img
    img.new-album__img__item(src="/assets/img/main_album.png", alt="new photo")
  .new-album__detail
    .new-album__name.clearfix
      span.editButton#editAlbum
        svg
          use.editButton_svg(xlink:href="assets/img/sprite.svg#edit")
      span.new-album__detail__name__text Поход в горы